name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # For actions/checkout to fetch code
      pages: write # For uploading the artifact
      id-token: write # For OIDC authentication
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Not strictly needed but good practice for some build tools

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm # Cache npm dependencies

      - name: Install dependencies
        run: npm install

      - name: Build docs
        run: npm run docs:build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist # The directory where VitePress builds the docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
